 .u-section-1 {
  background-color: #D7CCBF;
}

.u-section-1 .u-sheet-1 {
  text-align: center;
  min-height: 633px;
}

.u-section-1 .u-text-1 {
    margin: 25px auto 0;
}

.u-section-1 .u-line-1 {
  width: 204px;
  transform-origin: left center 0px;
  margin: 19px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 51px;
  margin-bottom: 15px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 439px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-2 {
  text-align: justify;
  margin: 25px auto 0 0;
  padding-left: 30px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
  margin: 19px 0 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 12px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 24px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 25px auto 0;
}

.u-section-1 .u-image-1 {
  min-height: 300px;
  background-image: url("../images/BemanKiosk_2025.jpg");
  background-position: 0% 0%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 637px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 300px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 40px;
  }

  .u-section-1 .u-image-1 {
    min-height: 275px;
    background-position: 0% 0%;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 558px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 40px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -54px;
  }

  .u-section-1 .u-image-1 {
    min-height: 225px;
    background-position: 60% 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 900px;
  }

.u-section-1 .u-layout-cell-1 {
    min-height: 250px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 29px;
    padding-left: 10px;
    padding-right: 10px;
  }

.u-section-1 .u-image-1 {
    min-height: 350px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 20px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 20px;
  }
  

  .u-section-1 .u-text-2 {
    margin-top: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 83px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: -54px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-top: 34px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 21px;
  }

  .u-section-1 .u-image-1 {
    min-height: 225px;
  }
}

.u-section-2 {
  background-color: #C5C0AC;
}

.u-section-2 .u-text-1 {
    text-align:center;
    margin: 25px auto 0;

} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  background-color: #C5C0AC;
  min-height: 523px;
}

.u-section-4 .u-list-1 {
  width: 1048px;
  margin: 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
  min-height: 367px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-1 {
  color: #5D392E;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-3 {
  color: #5D392E;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-5 {
  color: #5D392E;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-7 {
  color: #5D392E;
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-list-1 {
    width: 922px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 613px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 637px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 69px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1155px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}