 .u-section-1 {
  min-height: 613px;
}

.u-section-1 .u-slider-1 {
  min-height: 478px;
  height: auto;
  margin-top: 105px;
  margin-bottom: 31px;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-1 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../images/ChatHist-086_color.jpg");
  background-position: 50% 32.93%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  box-shadow: 2px 0 8px 0 rgba(0,0,0,0);
  text-shadow: 2px 0 11px rgba(0,0,0,1);
  font-weight: 700;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  width: 409px;
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 1.125rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 17px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-1 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/Snowflake-Background_e.png");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.85);
  margin: 81px auto 0;
}

.u-section-1 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.75);
  width: 657px;
  margin: 25px auto 0;
}

.u-section-1 .u-btn-2 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 13px auto 0;
}

.u-section-1 .u-btn-3 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 22px auto 0;
}

.u-section-1 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../images/CCS-MarchingBandUnifroms_Cropped.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-1 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.8);
  margin: 45px auto 0;
}

.u-section-1 .u-text-6 {
  font-size: 1.125rem;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.9);
  width: 533px;
  margin: 31px auto 0;
}

.u-section-1 .u-btn-4 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 17px 0 rgba(0,0,0,0.8);
  margin: 31px auto 0;
}

.u-section-1 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/1923-04-04_ChatRec_NewsprintImage.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 60px;
}

.u-section-1 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.95);
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.95);
  font-size: 1.125rem;
  width: 537px;
  margin: 19px auto 0;
}

.u-section-1 .u-btn-5 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.75);
  margin: 31px auto 0;
}

.u-section-1 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("../images/DSCN0722.JPG");
  background-position: 50% 82.74%;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-1 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: 92px auto 0;
}

.u-section-1 .u-text-10 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.95);
  font-size: 1.125rem;
  width: 476px;
  margin: 20px auto 0;
}

.u-section-1 .u-btn-6 {
  border-style: solid;
  font-size: 0.875rem;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.6);
  margin: 31px auto 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 38px;
  height: 38px;
  left: 13px;
  position: absolute;
  right: auto;
}

.u-section-1 .u-carousel-control-2 {
  width: 38px;
  height: 38px;
  left: auto;
  position: absolute;
  right: 13px;
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 555px;
  }

  .u-section-1 .u-slider-1 {
    min-height: 440px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-3 {
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-slider-1 {
    min-height: 410px;
    margin-top: 125px;
    margin-bottom: 20px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 25px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-top: 12px;
    margin-left: 50px;
    margin-right: 50px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 12px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 12px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-6 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-8 {
    width: 520px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 539px;
  }

  .u-section-1 .u-slider-1 {
    margin-top: 119px;
    margin-bottom: 10px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 21px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-text-5 {
    width: auto;
    margin-top: 12px;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-top: 12px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: 12px;
  }

  .u-section-1 .u-text-8 {
    width: 320px;
  }

  .u-section-1 .u-text-9 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-top: 15px;
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-1 .u-btn-6 {
    margin-top: 14px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 618px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 50px;
}

.u-section-2 .u-image-1 {
  min-height: 259px;
  background-image: url("../images/ChateaugayHighSchoolin1919.jpg");
  background-position: 37.15% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  min-height: 259px;
  background-image: url("../images/GlobeMillandtheRedBridgeedit.jpg");
  background-position: 5.33% 30.44%;
  background-size: auto 160%;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-3 {
  min-height: 259px;
  background-image: url("../images/ChatHist-110.jpg");
  background-position: 30.93% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-image-4 {
  min-height: 259px;
  background-image: url("../images/Chasm-colorpostcard.jpg");
  background-position: 50% 70.94%;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 559px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 60px;
}

.u-section-2 .u-text-1 {
  line-height: 43px;
  font-weight: 400;
  margin: 10px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1rem;
  margin: 20px auto 0 0;
}

.u-section-2 .u-btn-1 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0px;
  margin: 60px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-2 .u-image-1 {
    min-height: 214px;
  }

  .u-section-2 .u-image-2 {
    min-height: 214px;
  }

  .u-section-2 .u-image-3 {
    min-height: 214px;
  }

  .u-section-2 .u-image-4 {
    min-height: 214px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-2 .u-image-1 {
    min-height: 328px;
  }

  .u-section-2 .u-image-2 {
    min-height: 328px;
  }

  .u-section-2 .u-image-3 {
    min-height: 328px;
  }

  .u-section-2 .u-image-4 {
    min-height: 328px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2168px;
  }

  .u-section-2 .u-image-1 {
    min-height: 492px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    min-height: 492px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    min-height: 492px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-4 {
    min-height: 492px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1440px;
  }

  .u-section-2 .u-image-1 {
    min-height: 310px;
  }

  .u-section-2 .u-image-2 {
    min-height: 310px;
  }

  .u-section-2 .u-image-3 {
    min-height: 310px;
  }

  .u-section-2 .u-image-4 {
    min-height: 310px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 529px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 409px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-3 .u-text-1 {
  margin: 56px auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1rem;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 30px auto 0;
}

.u-section-3 .u-image-1 {
  min-height: 409px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("../images/CHS-Room_2022.JPEG");
  background-position: 74.09% 50%;
  background-size: auto 105%;
}

.u-section-3 .u-image-2 {
  min-height: 409px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.05), rgba(0,0,0,0.05)), url("../images/2023_CVHS_TasteOfHistory_Event-Ad.jpg");
  background-position: auto;
  background-size: auto 100%;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 569px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 449px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 27px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 11px;
  }

  .u-section-3 .u-image-1 {
    min-height: 449px;
    background-position: 82.66% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 59px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 462px;
  }

  .u-section-3 .u-container-layout-1 {
    padding: 16px 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 3px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 14px;
  }

  .u-section-3 .u-btn-1 {
    margin-top: 13px;
  }

  .u-section-3 .u-image-1 {
    min-height: 462px;
    background-position: 79.51% 50%;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 966px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-image-1 {
    min-height: 581px;
    background-position: 76.53% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 158px;
  }

  .u-section-3 .u-image-1 {
    min-height: 366px;
    background-position: 70.02% 50%;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 523px;
}

.u-section-4 .u-list-1 {
  width: 1048px;
  margin: 60px auto;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px) calc(25% - 15.75px);
  grid-gap: 21px 21px;
  min-height: 367px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-2 {
  padding: 0;
}

.u-section-4 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-4 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-3 {
  padding: 0;
}

.u-section-4 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-6 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-container-layout-4 {
  padding: 0;
}

.u-section-4 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 23px auto 0;
}

.u-section-4 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 30px 0;
}

.u-section-4 .u-text-8 {
  font-size: 0.875rem;
  width: 187px;
  margin: 11px auto 0;
}

.u-section-4 .u-btn-1 {
  background-image: none;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 483px;
  }

  .u-section-4 .u-list-1 {
    width: 922px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 327px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 14px;
    padding-right: 14px;
  }

  .u-section-4 .u-text-7 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 733px;
  }

  .u-section-4 .u-list-1 {
    height: auto;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    min-height: 613px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-btn-1 {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1193px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 637px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 12px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 69px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 69px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1292px;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 1155px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
  }
}